.container {
  padding: 0 2rem;
}

.loginBg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.loginInnerDiv{
  width: 400px;
  background: #ddd;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
.loginInnerDiv h2{
  text-align: center;
  margin-bottom: 20px
}
.loginInnerDiv input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
}
.loginInnerDiv button{
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
}